h1 {
  font-family: 'Henny Penny';
  font-size: 50px;
  color: #FFF;
  text-align: center;
  }
body {
  background-image: url('../images/darkcheckered.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #FFF;
  font-family: 'Bentham';
  font-size: 20px;
}

header {
  padding: 1.5rem;
}

header h1 {
  text-align: center;
  font-size: xx-large;
  text-shadow: 1px 1px black;
  width: 75%;
  margin: auto;
}

.logo {
  background-image: url("../images/icons/piggy_wizard2.png");
  background-size: cover;
  height: 75px;
  width: 75px;
  position: absolute;
  left: 2%;
  top: 2%;
}

.logo:hover {
  transform: scale(1.03);
}

.subtitle {
  font-size: large;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  min-width: 300px;
  padding: 2rem;
}

@media (max-width: 400px) {
  header h1 {
    width: 100%;
    margin: 0;
  }
  .logo {
    position: static;
    margin: auto;
  }
}

#shop_nav {
  /* border: solid; */
  /* border-radius: 10px; */
  height: 40vh;
  width: 120vw;
  display: grid;
  align-items: center;
  vertical-align: center;
  grid-template-columns: 120px;
  grid-template-rows: 40px 40px 40px 40px;
  grid-gap: 10px;
  align-content: left;
  justify-content: left;
}

.shop_square {
  /* box-sizing: border-box; */
  background-color: rgb(79, 78, 78);
  border-radius: 12px;
  text-align: center;
}

.shop_square:hover {
  transform: scale(1.05);
  background-color: #410000;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: -10%;
}

footer p {
  text-align: center;
  margin: 1.5rem;
  white-space: nowrap;
  font-size: medium;
}