/* Shop.html style sheet */


/* #region Header, Title, Subtitle */
html {
  height: 94%;
}
h1 {
  font-family: 'Henny Penny';
  font-size: 50px;
  color: #FFF;
  text-align: center;
  }
body {
  background-image: url('../images/darkcheckered.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #FFF;
  font-family: 'Bentham';
  font-size: 20px;
  height: 94%;
}

header {
  padding: 1.5rem;
}

header h1 {
  text-align: center;
  font-size: xx-large;
  text-shadow: 1px 1px black;
  width: 75%;
  margin: auto;
}

.subtitle {
  font-size: large;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  min-width: 300px;
  padding: 2rem;
}

@media (max-width: 420px) {
  header h1 {
    width: 100%;
    margin: 0;
  }
  .logo {
    position: static;
    margin: auto;
    display: block;
  }
}
/* #endregion */

/* #region logo button */
.logo {
  background-image: url("../images/icons/piggy_wizard2.png");
  background-size: cover;
  height: 75px;
  width: 75px;
  position: absolute;
  left: 2%;
  top: 2%;
}

.logo:hover {
  transform: scale(1.03);
}

/* #endregion */

/* #region cart button */
.cart {
  background-image: url("../images/icons/shop-bag.jpg");
  background-size: cover;
  background-color: white;
  font-family: 'Henny Penny';
  align-content: center;
  height: 90px;
  width: 90px;
  position: absolute;
  right: 2%;
  top: 2%;
  border-radius: 10%;
}

.logo:hover {
  transform: scale(1.03);
}


/* #region Cart Popup Form */

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  left: 20%;
  top: 20%;
  height: 69%;
  width: 69%;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 3000px;
  border: 8px double rgb(255, 255, 255);
  padding: 10px;
  height: 100%;
  width: 100%;
  background-color: rgb(48, 48, 48);
  background-image: url(../images/darkcheckered.jpg);
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.sign-in {
  position: absolute;
  height: 6%;
  width: 12%;
  left: 88%;
  top: 94%;
  background-image: url(../images/shop/merlin.jpg);
  background-size: cover;
  font-family: 'Henny Penny';
  font-size: large;
  border: 2px solid white;
  color: white;
}

/* #endregion */

/* #endregion */

/* #region filters menu and buttons */
.filters_header {
  font-family: 'Henny Penny';
  font-size: 40px;
  align-content: top;
  justify-content: top;
  text-align: center;
  border: 2px solid black;
  width: 95%;
  height: 30%;
  margin-left: 1%;
  margin-top: 0;

}


/* The switch */
.switch {
  position: relative;
  display: grid;
  width: 160px;
  height: 40px;
  left: 1%;
  right: 1%;
  font-family: 'Bentham';
  font-size: 15px;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 10px;
  right: 0;
  bottom: 0;
  background-color: #303030;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  border-radius: 20px;
  border: 2px solid black;
  margin-top: 2px;
  margin-bottom: 2px;
}

input:checked + .slider {
  background-color: #ff0000;
}

/* #region Grid */
.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr, 1fr, 50%;
  border-spacing: 10px;
  width: 175px;
  height: 90%;
  align-items: center;
  align-content: top;
  text-align: center;
  vertical-align: top;
  border: 4px solid rgb(255, 255, 255);
}
/* #endregion */

/* Modified Style for the 'Clear All' button */
.five {
  border-radius: 5px;
  background-color: #ff0000;
  color: black;
  text-shadow:  0px 0px 2px rgb(50, 0, 0);
  font-family: 'Bentham';
  font-size: 20px;
}

.filter-img {
  width: 90%;
  height: 100%;
}

/* #endregion */

/* #region footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: -1%;
  right: -1%;
}

footer p {
  text-align: center;
  margin: 1.5rem;
  white-space: nowrap;
  font-size: medium;
}
/* #endregion */


/* #region store container and objects */
.store-container {
  height: 80%;
  width: 90%;
  /* Just to show the border, will be removed */
  border: 2px solid rgb(255, 255, 0);
  left:210px;
  right: 8%;
  position: absolute;
  display: grid;
}

@media (min-width: 1200px) {
  .store-container { grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr)  }
}



/* #region store objects */
.item-container {
  height: 95%;
  width: 90%;
  border: 2px solid #fff;
  border-radius: 2%;
  background-color: #212121;
  position: relative;
}

.item-img-container {
  height: 69%;
  width: 93%;
  border: 4px solid #303030;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  position: block;
}

.item-img {
  height: 100%;
  width: 100%;
  border: 2px solid #ff0000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  position: block;
}


.cart-icon {
  position: absolute;
  height: 8%;
  width: 12%;
  background-color: rgb(255, 255, 255);
  padding: 1%;
  border-radius: 5%;
  top: 3%;
  right: 10%;
}

.item-name {
  font-family: 'Henny Penny';
  font-size: large;
  color: white;
  text-align: center
}

.item-price {
  font-family: 'Henny Penny';
  font-size: large;
  color: white;
  text-align: center;
}

.item-description {
  font-family: 'Bentham';
  font-size: x-small;
  color: white;
  text-align: left;
  padding: 4px;
}

/* #endregion */


/* #endregion */